---
import Card from "../../components/Card.astro";
import CardInfo from "../../components/CardInfo.astro";
import Layout from "../../components/layout/Layout.astro";
import ProductSimpleCard from "../../components/ProductSimpleCard.astro";
import products from "../../data/products.json";
const MAIN_TITLE = "Conoce nuestro catalogo";
---

<Layout title={MAIN_TITLE}>
  <section class="products-section">
    <h2 class="products-heading">Nuestros productos</h2>
    <p class="products-subheading">
      Descubre nuestra línea completa de productos para tu bienestar.
    </p>
    <div class="product-grid">
      
      {
        products.map((product, index) => (
          <ProductSimpleCard {...product} />
          // <Card
          //   id={product.id}
          //   title={product.title}
          //   description={product.description}
          //   imgSrc={product.imgSrc}
          //   altText={product.altText}
          // />
        ))
      }
    </div>
  </section>
</Layout>

<style>
  .products-section {
    padding: 80px 20px;
    text-align: center;
  }
  .products-heading {
    font-size: 2.8rem;
    color: var(--title);
    margin-top: 50px;
    margin-bottom: 10px;
  }
  .products-subheading {
    font-size: 1.2rem;
    color: var(--text);
    margin-bottom: 50px;
  }
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
  }

  @media (max-width: 768px) {
    .products-section {
      padding: 20px 15px;
    }

    .products-heading {
      font-size: 2.2rem;
      padding: 50px 0 20px 0;
      margin-bottom: 0;
    }

    .products-subheading {
      font-size: 1rem;
      margin-bottom: 30px;
    }

    .product-grid {
      gap: 30px;
    }
  }
</style>
