---
import { Image } from "astro:assets";
import { heroImg } from "../constants/images";

export type Props = {
  title: string;
  description: string;
  img: ImageMetadata;
  alt?: string;
  btn?: {
    text: string;
    href: string;
  };
};

const {
  title,
  description,
  img: imgSrc = heroImg.home.img,
  btn,
  alt
} = Astro.props;
---

<section class="hero-section">
  <div class="hero-bg">
    <Image 
      src={imgSrc} 
      alt={alt??title} 
      priority 
      class="hero-img"
      sizes="100vw"
    />
    <div class="overlay"></div>
  </div>
  <div class="hero-content">
    <h1>{title}</h1>
    <p>{description}</p>
    {
      btn && (
        <a href={btn.href} class="btn">
          {btn.text}
        </a>
      )
    }
  </div>
</section>

<style>
  .hero-section {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
  }
  .hero-bg {
    position: absolute;
    inset: 0;
    z-index: -1;
  }
  .hero-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .hero-content {
    padding: 1rem;
  }
  .overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  }
  .hero-content h1 {
    font-size: 4em;
    color: var(--pistachio);
  }
  .hero-content p {
    font-size: 1.2em;
    max-width: 600px;
    margin: 0 auto 20px;
    color: var(--text-white);
  }
  @media (max-width: 768px) {
    .hero-content h1 {
      font-size: 2.5em;
    }
  }
</style>
